{
  "optional": [
    "es7.classProperties"
  ],
  "loose": [
    "es6.classes",
    "es6.destructuring",
    "es6.forOf",
    "es6.properties.computed",
    "es6.spread",
    "es6.templateLiterals"
  ]
}
